.About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subabout {
  width: 50%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.492);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 0.5rem;
  margin-top: 6rem;
  box-shadow: 3px 6px 15px 4px rgba(24, 161, 17, 0.368);
  transition: all 0.3s ease-in-out;
  @include sm {
    width: 80%;
  }
}

.subabout:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.subabout:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.h1ab {
  color: white;
  @include sm {
    font-size: 7vw;
  }
}

.h2ab {
  color: white;
  text-align: center;
  @include sm {
    font-size: 5vw;
  }
}

.h3ab {
  color: white;
  text-align: center;
  @include sm {
    font-size: 4vw;
  }
}

.h3abT {
  color: white;
  text-align: center;
  @include sm {
    font-size: 5vw;
  }
}

.img {
  border-radius: 50%;
  width: 50%;
}

.techs {
  width: 30%;
  height: fit-content;
  overflow: hidden;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.492);
  display: grid;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  margin: 0.5rem;
  margin-top: 5rem;
  box-shadow: 3px 6px 15px 4px rgba(24, 161, 17, 0.368);
  transition: all 0.3s ease-in-out;
  @include sm {
    width: 70%;
  }
}

.techs:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.techs:not(:hover) {
  transform: scale(1);
  transition-duration: 0.5s;
}

.divP {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;
  text-align: center;
}

.p {
  color: rgb(255, 255, 255);
  font-size: 0.8rem;
  @include sm {
    font-size: 3vw;
  }
}
